.header{
    color: black;
    font-weight: bold;
    font-size: 2em;
    height: 50px;
    /* width: 100vh; */
    text-align: center;
    font-Family: 'Gill Sans';
    background-color:#327492;
    /* background-color:#f15c48; */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    font-size: 1.5em;
    opacity: 1;
    font-Family: 'Gill Sans';
  }
.input{
    
    height: 40px;
    width: 40%;
    padding: 3px;
    margin: 15px;
    color: black;
    border: none;
    /* background-color:#b3b3b3; */
    background-color:#d7d1d1;
    font-Family: 'Gill Sans';
}

#loginBox,#registerBox{
    text-align: center;
    align-items: center;
    margin: 70px;
    font-Family: 'Gill Sans';
   
}

#loginButton,#submitButton{
    color: white;
    font-size: 2em;
    border: none;
    height: 40px;
    width: 10%;
    background-color:#327492;
    font-Family: 'Gill Sans';
    cursor: pointer;
    margin: 20px ;
    /* transition: transform 80ms ease-in; */
}

#loginButton:hover,#submitButton:hover{
    color: white;
    font-size: 1.5em;
    border: none;
    height: 40px;
    width: 10%;
    background-color: #023f54;
    cursor: pointer;
    margin: 20px;
    font-Family: 'Gill Sans';
}